---
/*
 * Copyright (C) 2026 Garudex Labs.  All Rights Reserved.
 * Caracal, a product of Garudex Labs
 *
 * Numbered workflow steps rendered fully expanded for AI parsing.
 */

interface CodeBlock {
  language: string
  content: string
}

interface ConceptLink {
  text: string
  href: string
}

interface Step {
  title: string
  description: string
  code?: CodeBlock
  conceptLink?: ConceptLink
}

interface Props {
  steps: Step[]
}

const { steps } = Astro.props
---

<ol class="workflow-steps">
  {steps.map((step) => (
    <li>
      <strong>{step.title}</strong>
      <p>{step.description}</p>
      {step.code && (
        <pre><code class={`language-${step.code.language}`}>{step.code.content}</code></pre>
      )}
      {step.conceptLink && (
        <p>See: <a href={step.conceptLink.href}>{step.conceptLink.text}</a></p>
      )}
    </li>
  ))}
</ol>
